#define ZMK_POINTING_DEFAULT_MOVE_VAL 1200  // 600
#define ZMK_POINTING_DEFAULT_SCRL_VAL 25   // 10

#include <input/processors.dtsi>
#include <zephyr/dt-bindings/input/input-event-codes.h>
#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/outputs.h>
#include <dt-bindings/zmk/pointing.h>
#include <dt-bindings/zmk/rgb.h>

&mmv_input_listener { input-processors = <&zip_xy_scaler 2 1>; };

&msc_input_listener { input-processors = <&zip_scroll_scaler 2 1>; };

&msc {
    acceleration-exponent = <1>;      // 0
    time-to-max-speed-ms = <100>;       // 300
    delay-ms = <0>;                   // 0
};

&mmv {
    time-to-max-speed-ms = <500>;
    acceleration-exponent = <1>;
    trigger-period-ms = <16>;
};

/ {
    scroll_encoder: scroll_encoder {
        compatible = "zmk,behavior-sensor-rotate";
        #sensor-binding-cells = <0>;
        bindings = <&msc SCRL_DOWN>, <&msc SCRL_UP>;

        tap-ms = <100>;
    };

    behaviors {
    };

    keymap {
        compatible = "zmk,keymap";

        Mario {
            bindings = <
&kp ESC     &kp F1     &kp F2  &kp F3        &kp F4     &kp F5              &kp UP_ARROW     &kp F6  &kp F7     &kp F8     &kp F9      &kp F10   &kp F11
&kp TAB     &kp Q      &kp W   &kp F         &kp P      &kp G               &kp DOWN_ARROW   &kp J   &kp L      &kp U      &kp Y       &kp SEMI  &kp F12
&kp DEL     &kp A      &kp R   &kp S         &kp T      &kp D               &kp LEFT_ARROW   &kp H   &kp N      &kp E      &kp I       &kp O     &kp APOS
&kp LSHFT   &kp Z      &kp X   &kp C         &kp V      &kp B               &kp RIGHT_ARROW  &kp N   &kp M      &kp COMMA  &kp DOT     &kp FSLH  &kp RIGHT_SHIFT
&kp C_MUTE  &kp LCTRL  &mo 2   &kp LEFT_ALT  &kp SPACE  &kp LEFT_COMMAND    &kp ENTER        &mo 1   &kp ENTER  &kp CAPS   &caps_word  &kp HOME
            >;

            display-name = "Mario";
        };

        Luigi {
            bindings = <
&bt BT_CLR_ALL   &bt BT_SEL 0     &bt BT_SEL 1  &bt BT_SEL 2          &bt BT_SEL 3           &bt BT_SEL 4      &mmv MOVE_UP     &kp K_SCREENSAVER  &kp C_REWIND  &kp K_PLAY_PAUSE  &kp C_FF  &kp C_VOL_DN   &kp C_VOL_UP
&rgb_ug RGB_EFF  &kp TILDE        &kp HASH      &kp LEFT_BRACE        &kp RIGHT_BRACE        &kp ASTRK         &mmv MOVE_DOWN   &kp INT_YEN        &kp N7        &kp N8            &kp N9    &kp BACKSLASH  &kp K_MUTE
&rgb_ug RGB_EFR  &kp EXCLAMATION  &kp AT        &kp LEFT_PARENTHESIS  &kp RIGHT_PARENTHESIS  &kp UNDERSCORE    &mmv MOVE_LEFT   &kp DOLLAR         &kp N4        &kp N5            &kp N6    &kp PLUS       &kp C_BRIGHTNESS_INC
&rgb_ug RGB_ON   &kp PERCENT      &kp CARET     &kp LEFT_BRACKET      &kp RIGHT_BRACKET      &kp PIPE          &mmv MOVE_RIGHT  &kp AMPERSAND      &kp N1        &kp N2            &kp N3    &kp MINUS      &kp C_BRIGHTNESS_DEC
&kp C_MUTE       &kp KP_EQUAL     &trans        &trans                &trans                 &trans            &mkp LCLK        &trans             &trans        &trans            &kp N0    &kp DOT
            >;

            display-name = "Luigi";
        };

        Peach {
            bindings = <
&bootloader   &bt BT_SEL 0  &bt BT_SEL 1    &bt BT_SEL 2    &bt BT_SEL 3     &bt BT_SEL 4    &mmv MOVE_UP     &trans     &trans          &trans        &trans  &trans  &bootloader
&sys_reset    &bt BT_CLR    &trans          &mmv MOVE_UP    &trans           &trans          &mmv MOVE_DOWN   &trans     &msc SCRL_DOWN  &msc SCRL_UP  &trans  &trans  &sys_reset
&out OUT_BLE  &out OUT_USB  &mmv MOVE_LEFT  &mmv MOVE_DOWN  &mmv MOVE_RIGHT  &trans          &mmv MOVE_LEFT   &mkp MCLK  &mkp LCLK       &mkp RCLK     &trans  &trans  &trans
&trans        &trans        &trans          &trans          &trans           &trans          &mmv MOVE_RIGHT  &trans     &trans          &trans        &trans  &trans  &trans
&trans        &trans        &trans          &trans          &trans           &trans          &mkp LCLK        &trans     &trans          &trans        &trans  &trans
            >;

            label = "Peach";
        };

        Bowser {
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans
            >;

            label = "Bowser";
        };
    };
};
